[submodule "test/z80test/superzazu-z80"]
	path = test/z80test/superzazu-z80
	url = https://github.com/superzazu/z80.git
[submodule "src/submodules/uthash"]
	path = src/submodules/uthash
	url = https://github.com/troydhanson/uthash.git
[submodule "test/z80test/raxoft-z80test"]
	path = test/z80test/raxoft-z80test
	url = https://github.com/kunichiko/z80test-msx.git
